@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    box-sizing: border-box;
    position: relative;
    min-width: 0;
    min-height: 0;
}

body{
    font-family: 'Rubik', sans-serif;
    background-color: #F1F0E8;
}

#navbar{
    -webkit-box-shadow: -1px 17px 44px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 17px 44px -6px rgba(0,0,0,0.75);
    box-shadow: -1px 17px 44px -6px rgba(0,0,0,0.75);

}

#search-btn:hover{
    
    background-color: #FCB454;

}

#dropdown-menu{
    width: 30%;
}

@media (min-width: 768px) {
    #dropdown-menu {
        width: 30% !important;
        left: auto !important;
        right: 0 !important;
        transform: none !important;
    }

    
}

#footer{
    background-color: #727D73;
    width: 100%;
}

#ash{
    width: 50%;
}

#created-by{
    font-family: "Rowdies" ;
    font-size: 4rem;
    font-weight: 600;
    color: #FDFAF6;
    text-align: start;
    margin: 0;
    margin-bottom: 10px;
    
    
}

#created-by-p{
    font-family: "Rubik";
    font-size: 1.5rem;
    font-weight: 600;
    color:#FDFAF6 ;
    text-align: start;
    margin: 0;
    margin-bottom: 10px;
    
}

#created-by-img{
    width: 100%;
    height: 35px;
    gap: 10px;
    }

.imagen-redes{
    height: 100%;
}

.tiktok{
    margin-bottom: -3px;
}

@media (max-width: 768px) {
    #ash{
        display: none;
    }
    #created-by{
        font-size: 3rem;
    }

    
}

@media (max-width: 840px) {
    #created-by{
        font-size: 3rem;
    }
}


.card {
    transition: transform 0.6s ease;
    transform-style: preserve-3d; /* esto ayuda con efectos 3D */
}

.card:hover {
    transform: perspective(500px) translateY(8px) rotateY(45deg) scaleY(0.8);
}